In [3]:
s=15
s

15

In [25]:
s = 0
for x in[1,2,3,4,5]:
    s = s + x
s

15

リストの各要素をxという（仮の）名前を付けて取り出す。

In [26]:
list_tohoku=[5349,5478,5344,4644,4968,6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [17]:
5349+5478+5344+4644+4968+6259

32042

In [27]:
s=0
for x in list_tohoku:
    s+=x   
s

32042

In [20]:
s/6

5340.333333333333

In [52]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku+=val
avg_tohoku/=len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [31]:
list_shikoku=[3148,2991,2966,2457]
s=0
for x in list_shikoku:
    s+=x
s/len(list_shikoku)

2890.5

In [33]:
from statistics import *
print(mean(list_shikoku))

2890.5

In [34]:
a={'Apple':100,'Orange':150,'Grape':200}
a['Apple']

100

In [36]:
for x in a:
    print(x)
    print(a[x])

Apple
100
Orange
150
Grape
200

In [37]:
s=0
for x in a:
    s+=a[x]
s/len(a)

150.0

In [38]:
a

{'Apple': 100, 'Grape': 200, 'Orange': 150}

In [39]:
a.values()

dict_values([100, 150, 200])

In [40]:
mean(a.values())

150

In [44]:
s=0
for x in a.values():
    s+=x
s/len(a)

150.0

In [45]:
s=0
for x in a:
    s+=a[x]
s/len(a)

150.0

In [46]:
a=[1,2,3,4,5]
avg=mean(a)
avg

3

In [48]:
b=[(1-3)**2,(2-3)**2,(3-3)**2,(4-3)**2,(5-3)**2]
b

[4, 1, 0, 1, 4]

In [50]:
var=mean(b)
var

2

In [51]:
stdev=var**0.5
stdev

1.4142135623730951

In [54]:
a=[1,2,3,4,5]
s=0
for x in a:
    s+=x
avg=s/len(a)
s=0
for x in a:
    s+=(x-avg)**2
v=s/len(a)
v**0.5

1.4142135623730951